.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#output-text {
    text-align: center;
    width: 390px;
    height: 200px;
    font-size: 15px;
    font-family: Lato;
    line-height: 29px;

}

button {
    padding: 8px;
    border-radius: 5px ;
    background-color: teal;
    color: white;
   
}

h3 {
    color: teal;
    font-size: 25px;
}
h4 {
    font-family: Lato;
    color: teal;
}